[submodule "freeCodeCamp"]
	path = tsrepos/freeCodeCamp
	url = https://github.com/freeCodeCamp/freeCodeCamp.git
[submodule "developer-roadmap"]
	path = tsrepos/developer-roadmap
	url = https://github.com/kamranahmedse/developer-roadmap.git
[submodule "vue"]
	path = tsrepos/vue
	url = https://github.com/vuejs/vue.git
[submodule "tech-interview-handbook"]
	path = tsrepos/tech-interview-handbook
	url = https://github.com/yangshun/tech-interview-handbook.git
